name: Atl Generic Repository - Deploy

on:
  push:
    branches-ignore:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100

    - name: Build
      run: dotnet build --configuration Release
      working-directory: ./src

    - name: Run unit tests
      run: dotnet test --configuration Release
      working-directory: ./src

    - name: Generate nuget package
      run: dotnet pack --configuration Release -o nupkg
      working-directory: ./src

    - name: Publish nuget package
      run: dotnet nuget push Atl.Repository.Standard.1.1.1-alpha.nupkg -k $nuget_api_key -s "https://api.nuget.org/v3/index.json" --skip-duplicate
      env:
        nuget_api_key: ${{ secrets.NUGET_API_KEY }}
      working-directory: ./src/nupkg
